* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 156px;
}

body {
  background-color: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.gallery-item {
  width: 360px;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.modal-image {
  width: 1112px;
  height: 640px;
  object-fit: cover;
  display: block;
}

.modal {
  background: rgba(46, 47, 66, 0.8);
}
